.dashBoard__main {
  width: 100%;
  height: 100%;
  padding: 2rem;
  animation: loading 1s ease-out;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cards__section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.dataTable_section {
  width: 60%;
  height: 100%;
}

@media (max-width: 1400px) {
  .dashBoard__main {
    flex-direction: column;
    gap: 3rem;
  }
  .cards__section {
    width: 100%;
  }
  .dataTable_section {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .cards__section {
    width: 100%;
  }
  .dataTable_section {
    width: 100%;
  }
  .dashBoard__main {
    padding: 1.5rem 1rem;
  }
  .cards__section {
    gap: 1.5rem;
    justify-content: center;
  }
}
