.navBar {
  padding: 1.5rem 3rem 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #165d59;
}

.navBar .navBar__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin: auto;
  list-style-type: none;
}

.navBar .navBar__right .navItem {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navBar {
    padding: 1rem 2rem 0.5rem 2rem;
  }
  .navBar .navBar__right {
    gap: 1rem;
  }
}
