.input { 
    background-color: transparent;
    position: relative;
}
.input__image {
    position: absolute;
    margin: auto;
}
.input__control {
    padding-block: 0.25rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    border: 1.5px solid #165d59;
    font-size: 12px;
}
.input__control:focus,
.input__control:active {
    border: 0px;
    /* background-color: yellow; */
}

