.homePage__main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePage__form {
    width: 30%;
    /* margin-top: 10%; */
    border: 2px solid #165d59;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    transition: all 0.3s ease-out;
}

@media(max-width : 576px){
    .homePage__form {
        width: 80%;
    }
}

.homePage__form .form_heading {
    color: #165d59;
    font-weight: 500;
    text-align: center;
}

.homePage__form .btn_styled_text {
    font-size: 12px;
    line-height: 0px;
    font-weight: 500;
    color: rgba(22, 93, 89, 0.8);
}
.homePage__form .primary_text_color {
    color: #165d59;
}
